.form {
  min-width: 150px;
  max-width: 500px;
  width: 100%;
  text-align: center;
}

.full-width {
  width: 100%;
}

.s-login-pg-foot{
  width:100%;
  min-height:40px;
  display:flex;
  flex-direction: column;
  align-items: center;
}

